{{#if enableBadges}}
  <div class="facets-group facets-badge-group">
    <div class="facets-badges">
      <span class="facets-badges-title">
        Badges:
      </span>
    </div>
  </div>
{{/if}}
