<div class="group-less-container{{#ifCond less 'instanceof' 'number'}} group-other-target" style="cursor: pointer;{{/ifCond}}">
	{{#if less}}
		<div class="group-other-block">
			<div class="group-other-label-container">
				<span class="group-other-label-show-less group-less-target">show less</span>
			</div>
		</div>
	{{/if}}
</div>
