<div class="facets-group-container">
	<div class="facets-group">
		<div class="group-header">
			{{#if collapsible}}
				<div class="group-expander">
					<i class="fa fa-check-square-o toggle"></i>
				</div>
			{{/if}}
			{{{label}}}
		</div>
		<div class="group-facet-container-outer">
			{{#ifCond total '===' 0}}
				<div class="group-facet-placeholder-container">
					{{{groupPlaceholder}}}
				</div>
			{{/ifCond}}
			<div class="group-facet-container">
			</div>
			<div class="group-more-container"></div>
			<div class="group-less-container"></div>
		</div>
		<div class="group-facet-ellipsis">...</div>
	</div>
</div>
