{{#if selectionBar}}
<div class="facets-group facets-selection-group">
  <div class="facets-selection-group-badges">
    <!--<span class="facets-selection-group-filter">
      <i class="fa fa-filter"></i>
    </span>-->
  </div>
</div>
{{/if}}
